<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to QuizMIT</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signin.css' />
    <link rel='stylesheet' href='/stylesheets/newsfeed.css' />
    <link rel='stylesheet' href='/stylesheets/flipclock.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="/javascripts/handlebars-v4.0.5.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/users.js"></script>
    <script src="/javascripts/newsfeed.js"></script>
    <script src="/javascripts/addQuestion.js"></script>
    <script src="/javascripts/takeQuiz.js"></script>
    <script src="/javascripts/peerReview.js"></script>
    <script src="/javascripts/performance.js"></script>
    <script src="/javascripts/flipclock.js"></script>
    <script src="/javascripts/performanceTags.js"></script>

  </head>
  <body>
	  <div id="main-container"></div>
    <!-- <div class="mastfoot" id="footer">
      <div class="inner">
        <p>Today's date is <%= date %></p>
      </div>
    </div>
 -->  </body>
</html>
