<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to QuizMIT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signin.css' />
    <link rel='stylesheet' href='/stylesheets/newsfeed.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/handlebars-v4.0.5.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/users.js"></script>
    <script src="/javascripts/newsfeed.js"></script>
    <script src="/javascripts/addQuestion.js"></script>
    <script src="/javascripts/takeQuiz.js"></script>
    <script src="/javascripts/peerReview.js"></script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

      	  <div id="main-container"></div>
          <div class="mastfoot" id="footer">
            <div class="inner">
              <p>Today's date is <%= date %></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
