<div>
	<button class="btn btn-default home-link">Back</button>
	<h3>Add a Question</h2>
	<div class="error"></div>
	<textarea id="new-question-input" name="new-question-input" class="form-control" required autofocus/>
	<button class="btn btn-lg btn-info btn-block" id="submit-new-question">Add</button>
</div>