<h2>Welcome, {{currentUser}} (<a style="color: #4099FF;" href="#" id="logout-link">logout</a>)</h2>
<h3>This is going to be your news feed.</h3>
<div>
    <button class="btn btn-default" id="add-question-page">Add Question</button>
    <button class="btn btn-default" id="take-quiz-page">Take a Quiz</button>
    <button class="btn btn-default" id="peer-review-page">Peer Review</button>
</div>