<div class="question" data-question-id={{_id}}>
  <h4>{{question}}</h4>
  <textarea class="form-control" required autofocus/>
  <button class="btn btn-lg btn-success btn-block submit-quiz">Submit</button>
</div>
