<div class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Performance Review</h3>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="lead list-group text-center text-primary">
		  {{#each listOfQuizzes}}
			<button type="button" class="list-group-item quiz-performance" data-quiz-id={{this}}>Quiz {{@index}}</button>
		  {{/each}}
      </div>
    </div>
  </div>
</div>

