<div>
  <div>
    <button class="btn btn-default home-link">Back</button>
  </div>
  <div>
    <div class="error"></div>
  </div>

  <h2>Quiz</h2>

  {{#each questions}}
    {{> question}}
  {{else}}
    <p><em>No questions added yet</em></p>
  {{/each}}
</div>
